body{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color:rgba(248,246,242,1);
}
h1 {
    display: flex;
}
h1, h2, h3{
    color: rgba(59, 45, 100, 1);
}
.searchBtnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.searchArea{
    display: flex;
}
.button{
    color: white;
    background-color: rgba(59, 45, 100, 1);
    padding: 10px;
    width: 100px;
}
.searchBox{
    padding: 5px 15px;
    width: 300px;
}

#meals{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.display-meal-box{
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    padding-bottom: 5px;
    cursor: pointer;
}
.meal{
    border-radius: 20px;
    text-align: center;
    width: 300px;
}
.meal img{
    width: 299px;
    border-radius: 10px 10px 0px 0px;
}
.meal-name{
    font-size: 20px;
}
#meal-ingredients{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.meal-ingredients-show{
    background-color: white;
    width: 500px;
    text-align: center;
    border-radius: 20px;
}
.meal-ingredients-show img{
    width: 500px;
    height: 330px;
    border-radius: 10px 10px 0px 0px;
}
.ingredients{
    padding: 20px;
    background-color: white;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
}
.ingredients li{
    list-style: square;
}
.ingredients h3{
    font-size: 25px;
    text-align: center;
}
.ingredients h4{
    font-size: 20px;
}
#empty-error{
    text-align: center;
    color: tomato;
}
.error-massage{
    font-size: 30px;
    text-align: center;
    color: red;
}

@media only screen and (max-width: 768px) {
    #meals{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #meals{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .searchBox{
        width: 200px;
    }
    .meal-ingredients-show{
        width: 450px;
    }
    .meal-ingredients-show img{
        width: 450px;
        height: 250px;
    }
}